.footer_class{
    padding:30px 0;
}

.footer_div{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.footer_list{
    display:flex;
    gap:8px;
}

.footer-list-it-bg{
    transform: scale(1);
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #27ae60;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    transition: background-color 0.4s ease-out;
    transition: transform 0.4s ease-out;
}

.footer-list-it-bg:hover{
    background-color: darkgreen;
    transform:scale(1.15);
}

.footer_text{
    font-weight: 500;
    font-size: 14px;
    color: #e5e5ea;
}